{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- main start -->
    <main id="swup">

        <!-- to-top-button start -->
        <a href="#firstSection" class="to-top-button to-id click-target">
            <i class="icon-arrow-left"></i>
        </a>
        <!-- to-top-button end -->


        {% include 'navbar.html' %}

        
        <!-- blog page intro start -->
        <section id="firstSection" class="page-header section-80vh bg-gradient-black bg-black">
            <div id="particles" class="container">
                <!-- container start -->
                <div class="container">
                    <!-- row start -->
                    <div class="row">
                        <div class="col-xl-7 offset-xl-1">
                            <div class="breadcrumb-wrap">
                                <ul class="breadcrumb slide-over">
                                    <li class="breadcrumb-item"><a class="link text-white" href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Blog</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-11 offset-xl-1">
                            <h1 class="page-header-title text-white">
                                <span class="slide-over">Blog</span>
                            </h1>
                        </div>
                        <div class="col-xl-7 offset-xl-1">
                            <p class='page-header-text text-lead text-white'>
                                <span class="slide-over">This an introduction text. There are many variations of passages of Lorem Ipsum available, but the majority have always free from rep - etition</span>
                            </p>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>
            <!-- bottom-left-links start -->
            {% comment %} <div class="bottom-left-links">
                <div>
                    <a href="#" class="link text-white">Behance</a>
                </div>
                <div>
                    <a href="#" class="link text-white">FaceBook</a>
                </div>
                <div>
                    <a href="#" class="link text-white">Twitter</a>
                </div>
            </div> {% endcomment %}
            <!-- bottom-left-links end -->
        </section>
        <!-- blog page intro end -->


        <!-- blog page main start -->
        <div class="page-main">

            <!-- section start -->
            <section class="section-small bg-light">
                <!-- container start -->
                <div class="container blog-container">
                    <!-- row start -->
                    <div class="row">
    
                        <!-- posts start -->
                        <div class="col-lg-8">
                            {% for blog in blog_list %}
                            <!-- blog-item start -->
                            <div data-animation-container class="blog-item bg-black">
                                <a data-animation-child data-swup href="blogArticle.html" class="blog-img blog-img-hover cover-right" data-animation="cover-right">
                                    <div class="bg-image lazy" data-bg="url({{blog.image.url}})"></div>
                                </a>
                                <!-- blog-content start -->
                                <div class="blog-content">
                                    <div data-animation-child class="blog-header slide-right"  data-animation="slide-right">
                                        <div class="blog-info">
                                            <p class="text-additional text-white">
                                                <a href="#" class="link">{{ blog.date_created }}</a>
                                                -
                                                <a href="#" class="link">{{blog.author.name}}</a>
                                            </p>
                                        </div>
                                        <div class="blog-tags">
                                            {% for cat in blog.categories.all %}
                                            <a class="link text-additional" href="#">Development</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <h3 data-animation-child class="blog-title slide-up delay-8" data-animation="slide-up">
                                        <a class="link" data-swup href="blogArticle.html">{{blog.title }}</a>
                                    </h3>
                                    <p data-animation-child class="blog-text text-light-gray slide-up delay-9" data-animation="slide-up">
                                        {{blog.intro}}
                                    </p>
                                </div>
                                <!-- blog-content end -->
                            </div>
                            <!-- blog-item end -->

                            {% endfor %}
                            
                            
    
                            <!-- blog-btn-more start -->
                            <div class="blog-btn-more">
                                <button class="btn btn-large btn-black text-white cursor-color">Load more</button>
                            </div>
                            <!-- blog-btn-more end -->
                        </div>
                        <!-- posts end -->
    
    
                        <div class="col-lg-4">
                            <!-- sidebar start -->
                            <aside class="sidebar widget_area">
    
                                <!-- widget start -->
                                <div class="widget widget_search">
                                    <h3 class="widget-title text-white">search</h3>
    
                                    <form method="GET" action="{% url 'blog-list' %}" class="search-form">
                                        <label>
                                            <input type="search" class="search-field" placeholder="Search..." name="query">
                                        </label>
                                    </form>
                                    <button class="btn btn-small w-100 btn-outline-white text-white cursor-color" type="submit">search</button>
                                </div>
                                <!-- widget end -->
    
    
                                <!-- widget start -->
                                <div class="widget widget_categories">
                                    <h3 class="widget-title text-white">
                                        categories
                                    </h3>
    
                                    <ul>
                                        <li>
                                            <a href="#">
                                                production
                                            </a>
                                            (1)
                                        </li>
                                        <li>
                                            <a href="#">
                                                design
                                            </a>
                                            (5)
                                        </li>
                                        <li>
                                            <a href="#">
                                                UX / UI
                                            </a>
                                            (3)
                                        </li>
                                    </ul>
                                    
                                </div>
                                <!-- widget end -->
    
    
                                <!-- widget start -->
                                <div class="widget widget_arvive">
                                    <h3 class="widget-title text-white">
                                        Archive
                                    </h3>
    
                                    <ul>
                                        <li>
                                            <a href="#">
                                                March 2019
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                February 2018
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                June 2017
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- widget end -->
    
    
                                <!-- widget start -->
                                <div class="widget widget_recent_entries">
                                    <h3 class="widget-title text-white">recent posts</h3>
    
                                    <ul>
                                        <li>
                                            <a href="#">5 innovative approaches to improve your development</a>
                                            <span class="post-date">March 31, 2019</span>
                                        </li>
                                        <li>
                                            <a href="#">Seven Features Of Design That Make Everyone Love It</a>
                                            <span class="post-date">June 20, 2017</span>
                                        </li>
                                        <li>
                                            <a href="#">How Product Design is different than UX Design</a>
                                            <span class="post-date">Feb 18, 2018</span>
                                        </li>
                                    </ul>
    
                                </div>
                                <!-- widget end -->
    
    
                                <!-- widget start -->
                                <div class="widget widget_recent_comments">
                                    <h3 class="widget-title text-white">recent comments</h3>
    
                                    <ul>
                                        <li>
                                            <span class="comment-author-link">
                                                <a href="#">Paul Frank</a>
                                            </span>
                                            on
                                            <a href="#">5 innovative approaches to improve your development</a>
                                        </li>
                                        <li>
                                            <span class="comment-author-link">
                                                <a href="#">Jerry Hull</a>
                                            </span>
                                            on
                                            <a href="#">Seven Features Of Design That Make Everyone Love It</a>
                                        </li>
                                        <li>
                                            <span class="comment-author-link">
                                                <a href="#">Marilyn Christie</a>
                                            </span>
                                            on
                                            <a href="#">How Product Design is different than UX Design</a>
                                        </li>
                                    </ul>
    
                                </div>
                                <!-- widget end -->
    
    
                                <!-- widget start -->
                                <div class="widget widget_tag_cloud">
                                    <h3 class="widget-title text-white">tags</h3>
    
                                    <div class="tagcloud">
                                        <a class="tag-cloud-link" href="#">video(2)</a>
                                        <a class="tag-cloud-link" href="#">artist(2)</a>
                                        <a class="tag-cloud-link" href="#">nature(2)</a>
                                        <a class="tag-cloud-link" href="#">business(2)</a>
                                        <a class="tag-cloud-link" href="#">trade(2)</a>
                                        <a class="tag-cloud-link" href="#">people(2)</a>
                                        <a class="tag-cloud-link" href="#">development(2)</a>
                                        <a class="tag-cloud-link" href="#">graphic design(2)</a>
                                        <a class="tag-cloud-link" href="#">art(2)</a>
                                        <a class="tag-cloud-link" href="#">marketing(2)</a>
                                    </div>
    
                                </div>
                                <!-- widget end -->
    
    
                                <!-- widget start -->
                                <div class="widget">
                                    <h3 class="widget-title text-white">instagram</h3>
    
                                    <div class="widget-img">
                                        <a href="#">
                                            <div class="bg-image lazy" data-bg="url(img/Blog\ Page/Instagram/1.jpg)"></div>
                                        </a>
                                        <a href="#">
                                            <div class="bg-image lazy" data-bg="url(img/Blog\ Page/Instagram/2.jpg)"></div>
                                        </a>
                                        <a href="#">
                                            <div class="bg-image lazy" data-bg="url(img/Blog\ Page/Instagram/3.jpg)"></div>
                                        </a>
                                        <a href="#">
                                            <div class="bg-image lazy" data-bg="url(img/Blog\ Page/Instagram/4.jpg)"></div>
                                        </a>
                                    </div>
                                </div>
                                <!-- widget end -->
    
                            </aside>
                            <!-- sidebar end -->
                        </div>
                        
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </section>
            <!-- section end -->

        </div>
        <!-- blog page main end -->

        <!-- footer start -->
        {% include 'footer.html' %}
        <!-- footer end -->

    </main>
    <!-- main end -->
{% endblock content %}

