{% load static %}
<footer footer-data-animation-container class="footer bg-black">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row justify-content-md-between justify-content-sm-center">

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="footer-item text-md-left text-center">
                    <a data-animation-child data-swup href="home.html" class="logo slide-up" data-animation="slide-up">
                        <img src="{% static 'img/Logo/exp1.png'%}" alt="logo">
                    </a>
                    <div data-animation-child class="footer-content slide-up delay-1" data-animation="slide-up">
                        <p class="footer-text text-light-gray">
                            India's Largest Online Corporate and compliance Services
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-10">
                <div class="footer-item text-md-right text-center">
                    <h3 data-animation-child class="footer-title text-white slide-up" data-animation="slide-up">get in touch</h3>
                    <ul class="footer-content">
                        <li data-animation-child class="text-light-gray slide-up delay-1" data-animation="slide-up">
                            info@expyog.com
                        </li>
                        <li data-animation-child class="text-light-gray slide-up delay-2" data-animation="slide-up">
                            +91 1147603642
                        </li>
                        <li data-animation-child class="text-light-gray slide-up delay-3" data-animation="slide-up">
                            5th floor, HB Twin Tower, Netaji Subhash Place, Delhi-110034
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <!-- row end -->


        <!-- row start -->
        <div data-animation-child class="row justify-content-between footer-bottom slide-up delay-4" data-animation="slide-up">
            <div class="col-md-6">
                <div data-animation-child class="copyright slide-up delay-5" data-animation="slide-up">
                    <p class="text-light-gray">2022 @ EXPYOG. All rights reserved</p>
                </div>
            </div>

            <div class="col-md-6">
                <div data-animation-child class="footer-social social slide-up delay-5" data-animation="slide-up">
                    <div class="social-item">
                        <a class="text-white" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                    <div class="social-item">
                        <a class="text-white" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="social-item">
                        <a class="text-white" href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                    <div class="social-item">
                        <a class="text-white" href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->

    </div>
    <!-- container end -->
</footer>