{% load static %}
<!-- header start -->
<header class="header header-anchor header-container header-white">
    <!-- container start -->
    <div class="container">

        <!-- logo start -->
        <div class="logo-box">
            <a data-swup href="{% url 'index' %}" class="logo">
                <img src="{% static 'img/Logo/exp1.png'%}" alt="logo">
            </a>
        </div>
        <!-- logo end -->

        <!-- menu-anchor start -->
        <div class="menu-anchor">
            <ul class="menu-anchor-list">
                <li class="active">
                    <a href="{% url 'index' %}#firstSection">Home</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#aboutSection">About</a>
                </li>
                <li>
                    <a href="{% url 'index'%}#serviceSection">Service</a>
                </li>
                <li>
                    <a href="{% url 'index'%}#contactSection">Contact</a>
                </li>
                <li>
                    <a href="{% url 'index'%}#blogSection">Blogs</a>
                </li>
            </ul>
        </div>
        <!-- menu-anchor end -->

        <!-- menu-icon start -->
        <div class="menu-outer-wrap">
            <div class="menu-wrap">
                <div class="menu menu-hover click-target">
                    <span class="menu-line-1"></span>
                    <span class="menu-line-2"></span>
                    <span class="menu-line-3"></span>
                </div>
            </div>
        </div>
        <!-- menu-icon end -->
        
    </div>
    <!-- container end -->
</header>
<!-- header end -->


<!-- menu-navigation end -->
<div class="menu-navigation menu-navigation-md">
    <!-- menu-overlay start -->
    <div class="menu-overlay click-target"></div>
    <!-- menu-overlay end -->

    <!-- menu-background start -->
    <div class="menu-pre-background"></div>
    <!-- menu-background end -->

    <!-- menu-inner start -->
    <div class="menu-inner">
        <!-- menu-container start -->
        <div class="menu-container">

            <!-- menu-header start -->
            <div class="menu-header">
                <h4>Navigate to</h4>
            </div>
            <!-- menu-header end -->


            <!-- navigation start -->
            <nav class="navigation">
                <ul class="navigation-list">
                    <li>
                        <a href="#firstSection">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- navigation end -->


            <!-- social start -->
            <div class="social social-navigation">
                <div class="social-item">
                    <a class="text-white" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="social-item">
                    <a class="text-white" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="social-item">
                    <a class="text-white" href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                <div class="social-item">
                    <a class="text-white" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <!-- social end -->

        </div>
        <!-- menu-container end -->
    </div>
    <!-- menu-inner end -->
</div>
<!-- menu-navigation end -->